@import "tailwindcss";

@keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .leaderboard-row {
    animation: slideIn 0.3s ease-out;
  }